.favorite-list-title,
.favorite-list-description {
    padding: 0 30px;
}

.favorite-list-wrapper {
    .favorite-list-item {
        margin-top: 80px;
    }

    .no-data {
        margin: 100px auto;
        color: red;
        text-align: center;
    }

    .favorite-page-label {
        display: table-cell;
        font-size: 14px;
        margin-left: 8px;
        min-width: 120px;
    }

    .favorite-page-button-row {
        display: table-cell;
        width: 490px;
    }
}
